/* Google font montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* Variable css  */
:root {
    --header-height: 3.5rem;
}

/* Colors */
/* colors mode hsl (hue, saturation , lightness  */
--title-color{ 
    background-color: hsl(0, 0%, 100%);

}

--title-color {
    background-color:  hsl(0, 0%, 60%);

}

--title-color {
    background-color: hsl(0, 0%, 0%);
}


/* font and typography */
/* .5 rem = 8px  | 1rem = 16px*/
--body-font {
    font-family: "Montserrat", sans-serif;

}

--h1-font-size {
    font-size: 1.5rem;
}


--h3-font-size {
    font-size: 1rem;
}

--normal-font-size {
 font-size: .938rem;
}

--small-font-size {
    font-size: .813rem;
}


/*FONT WEIGHT */
--font-regular{
    font-weight: 400;
}
    
--font-semi-bold {
    font-weight: 600;
}

--font-bold {
    font-weight: 700;
}

/* z-index */
--z-tooltip {
    z-index: 10;
}

--z-fixed {
    z-index: 100;
}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (min-width: 1152px){
    :root {
        --h1-font-size: 2.25rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}
    

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    height: auto;
}


/* REUSABLE CSS CLASSES */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
}

